<h1>Recherche de recette par ingrédients</h1>
<p>Tapez le ou les mots que vous recherchez dans le champ de formulaire ci-dessous</p>
<%= react_component("RecipesSearchForm", { greeting: "Hello from react-rails." }) %>
